*.exe
Drivers/Tuya TS004F/TS004F.groovy.bak
*.bak
Drivers/Tuya Temperature Humidity Illuminance LCD Display with a Clock/new 16.txt
Hubitat.iml
.idea/.gitignore
.idea/misc.xml
.idea/modules.xml
.idea/vcs.xml
Drivers/Drivers.iml
Drivers/SmartThings/SmartThings.iml
.idea/libraries/groovy_2_4_21.xml
.idea/encodings.xml
.hubitat/metadata.json
Drivers/Tuya Multi Sensor 4 In 1/.vscode/extensions.json
Drivers/Tuya Multi Sensor 4 In 1/.hubitat/metadata.json
Drivers/Misc/Third Reality Matter Multi-Function Night Light.groovy
