*.exe
Drivers/Tuya TS004F/TS004F.groovy.bak
*.bak
Drivers/Tuya Temperature Humidity Illuminance LCD Display with a Clock/new 16.txt
Hubitat.iml
.idea/.gitignore
.idea/misc.xml
.idea/modules.xml
.idea/vcs.xml
Drivers/Drivers.iml
Drivers/SmartThings/SmartThings.iml
.idea/libraries/groovy_2_4_21.xml
.idea/encodings.xml
.hubitat/metadata.json
Drivers/Tuya Zigbee Metering Plug/new 55.txt
Drivers/Tuya Multi Sensor 4 In 1/.vscode/extensions.json
Drivers/Tuya Multi Sensor 4 In 1/.hubitat/metadata.json
Drivers/Tuya Temperature Humidity Illuminance LCD Display with a Clock/.hubitat/metadata.json
Drivers/Zigbee TRV/logback.log
Drivers/Misc/Third Reality Matter Multi-Function Night Light.groovy
Drivers/Misc/Matter Test.groovy
Drivers/Tuya Zigbee Metering Plug/logback.log
Drivers/Tuya Multi Sensor 4 In 1/logback.log
Drivers/Matter Advanced Bridge/ScratchPad.txt
Drivers/Tuya Zigbee mmWave Sensor/ScratchPad.txt
Drivers/Tuya Zigbee Valve/ScratchPad.txt
Drivers/Tuya ZigBee Vibration Sensor/scratchPad.txt
Libraries/scratchPad.txt
Drivers/Aqara Cube T1 Pro/scratchPad.txt
Drivers/Aqara LED Strip T1/scratchPad.txt
Drivers/Tuya Contact Sensor/scratchPad.txt
Drivers/ZigUSB/scratchPad.txt
Drivers/Tuya Multi Sensor 4 In 1/scratchPad.txt
Drivers/Tuya Zigbee Switch/scratchPad.txt
Drivers/Zigbee TRV/scratchPad.txt
*.log
Drivers/Zigbee Smoke Detector/scratchPad.txt
Drivers/ZigBee Window Shade/scratchPad.txt
Drivers/Tuya Temperature Humidity Illuminance LCD Display with a Clock/scratchPad.txt
Drivers/Tuya NEO Coolcam Zigbee Water Leak Sensor/scratchPad.txt
