*.exe
Drivers/Tuya TS004F/TS004F.groovy.bak
*.bak
Drivers/Tuya Temperature Humidity Illuminance LCD Display with a Clock/new 16.txt
Hubitat.iml
.idea/.gitignore
.idea/misc.xml
.idea/modules.xml
.idea/vcs.xml
Drivers/Drivers.iml
Drivers/SmartThings/SmartThings.iml
.idea/libraries/groovy_2_4_21.xml
.idea/encodings.xml
.hubitat/metadata.json
Drivers/Tuya Multi Sensor 4 In 1/.vscode/extensions.json
Drivers/Tuya Multi Sensor 4 In 1/.hubitat/metadata.json
Drivers/Misc/Third Reality Matter Multi-Function Night Light.groovy
Drivers/Matter Advanced Outlet/logback.log
Drivers/Tuya Zigbee Metering Plug/logback.log
Drivers/Tuya Multi Sensor 4 In 1/logback.log
Drivers/Matter Advanced Bridge/ScratchPad.txt
Drivers/Tuya Zigbee mmWave Sensor/ScratchPad.txt
Drivers/Tuya Zigbee Valve/ScratchPad.txt
Drivers/Tuya ZigBee Vibration Sensor/scratchPad.txt
Libraries/scratchPad.txt
Drivers/ZigUSB/scratchPad.txt
Drivers/Aqara Cube T1 Pro/scratchPad.txt
Drivers/Aqara LED Strip T1/scratchPad.txt
Drivers/Tuya Contact Sensor/scratchPad.txt
Drivers/Tuya Zigbee Switch/scratchPad.txt
Drivers/Tuya Multi Sensor 4 In 1/scratchPad.txt
Drivers/Zigbee TRV/scratchPad.txt
Drivers/Tuya Zigbee Metering Plug/.hubitat/metadata.json
*.log
Drivers/Zigbee Smoke Detector/scratchPad.txt
Drivers/ZigBee Window Shade/scratchPad.txt
Drivers/Tuya Temperature Humidity Illuminance LCD Display with a Clock/scratchPad.txt
Drivers/Tuya NEO Coolcam Zigbee Water Leak Sensor/scratchPad.txt
Drivers/Tuya Zigbee Tank Level Monitor/scratchPad.txt
Drivers/Tuya Zigbee Chlorine Meter/scratchPad.txt
Drivers/Tuya Zigbee Tank Level Monitor/Tuya Zigbee Tank Level Monitor.code-workspace
Drivers/Tuya Multi Sensor 4 In 1/Tuya Multi Sensor 4 In 1.code-workspace
Drivers/Aqara TVOC Air Quality Monitor/.hubitat/metadata.json
Drivers/Aqara LED Strip T1/Aqara LED Strip T1.code-workspace
Drivers/Aqara LED Strip T1/.hubitat/metadata.json
Drivers/AWTRIX 3 MQTT/.hubitat/metadata.json
Drivers/Tuya Zigbee Metering Plug/scratchpad.txt
Drivers/Aqara Climate Sensor W100/scratchPad.txt
